
#about-me-heading {
	margin-top: 32px;
}

#about-me-heading, #contact-me-heading, #portfolio-page-heading {
	color: #4aaaa5;
}

#about-me-heading, #name-block-text {
	font-size: 32px;
	font-weight: 600;
}

#about-me-heading, #name-block-text, #contact-me-heading, #portfolio-page-heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#about-me-heading-row {
	margin-bottom: 1%;
}

#about-me-image {
	padding: 0!important;
	width: 100%;
}

#about-me-inner-container {
	background: white;
	border: 1px solid #aaa;
}

#about-me-outer-container {
	background-image: url("../images/ConcreteWallBackground-lighter.jpg");
	padding-bottom: 30%;
	padding-top: 3%;
}

#about-me-text, #all-pages-footer-text, #experience-bullets-header, #experience-bullets-list, .responsive-text {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#all-pages-footer {
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	color: #cccccc;
	font-size: 12px;
	text-align: center;
}

#body-level-container {
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

.clear-both {
	clear: both;
}

.contact-form-label, #estes-nightscapes-caption, #estes-nightscapes-tooltip-text, #flixster-caption, #flixster-tooltip-text {
	font-size: 13px;
}

#contact-page-article, #portfolio-page-article {
	background-color: #ffffff;
	border-color: #dddddd;
}

#estes-nightscapes-caption, #flixster-caption {
	color: white;
	opacity: 0.8;
	position: absolute;
	text-align: center;
}

#estes-nightscapes-caption, #flixster-caption, #name-block-text {
	background-color: #4aaaa5;
}

#estes-nightscapes-cell #estes-nightscapes-tooltip-text {
	opacity: 0.5;
}

#estes-nightscapes-cell #estes-nightscapes-tooltip-text, #flixster-cell #flixster-tooltip-text {
	color: white;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	visibility: hidden;
	z-index: 1;
}

#estes-nightscapes-cell:hover #estes-nightscapes-tooltip-text, #flixster-cell:hover #flixster-tooltip-text {
	visibility: visible;
}

#firs-reaching-figure, #framus-on-stage-figure {
	margin: 0;
}

#footer-container {
	padding-bottom: 36px;
	padding-top: 36px;
}

@media (min-width: 768px) {
	#name-block-text {
		max-width: 232px;
	}

	#about-me-image {
		width: 48%;
	}

	#about-me-outer-container {
		padding-bottom: 67%;
	}

	#nav-links-col {
		max-width: 260px;
	}
	
	#nav-links-subrow {
		margin-top: 7%;
	}
}

@media (min-width: 980px) {
	#about-me-heading, #name-block-text {
		font-weight: 600;
	}

	#about-me-inner-container {
		max-width: 65%;
	}

	#about-me-outer-container {
		padding-bottom: 50%;
		padding-left: 49px;
	}

	#name-block-nav-container {
		padding-left: 34px;
	}

	#nav-links-col {
		margin-left: 5%!important;
		margin-top: 4px;
		max-width: 288px;
	}
}

#name-block-nav-container {
	border-bottom: 2px solid lightgray;
}

#name-block-text {
	color: white;
	margin: 0;
	padding: 16px;
	text-align: center;
}

.nav-link {
	color: #aaa;
	font-size: 15px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	text-decoration: none;
}

#nav-links-subrow {
	line-height: 0;
	padding-bottom: 3%;
	padding-top: 3%;
}

#portfolio-link {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.responsive-text {
	font-size: 13px;
}

#rule-below-nav-row {
	border: none;
	color: #cccccc;
	height: 4px;
	margin: 0;
	opacity: 0.67;
}

#rule-below-about-me-hr {
	border: 1px solid lightgrey;
	opacity: 0.75;
}
