
#about-me-heading, #contact-me-heading, #portfolio-heading {
	color: #4aaaa5;
}

#about-me-heading, #contact-me-heading, #name-block-text, #portfolio-heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
}

#about-me-inner-container, #contact-form-inner-container, #portfolio-inner-container {
	background: white;
	border: 1px solid #aaa;
}

#about-me-outer-container, #contact-form-outer-container, #portfolio-outer-container {
	background-image: url("../images/ConcreteWallBackground-lighter.jpg");
	border-top: 3px solid lightgray;
	padding-bottom: 30%;
	padding-top: 3%;
}

#all-pages-footer {
	background-color: #666666;
	border-top: 7px solid #4aaaa5;
	color: #cccccc;
}

.contact-form-label {
	color: #8c8c8c;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}

#contact-form-submit-button {
	border: none;
	border-radius: 0;
}

#contact-form-submit-button, #estes-nightscapes-caption, #flixster-caption, #name-block-col {
	background-color: #4aaaa5;
}

#contact-page-article, #portfolio-article {
	background-color: white;
	border-color: #dddddd;
}

#estes-nightscapes-caption, #flixster-caption {
	color: white;
	font-size: 12px;
	left: 0;
	opacity: 0.75;
}

#estes-nightscapes-caption-row {
	top: 8%;
}

#estes-nightscapes-caption-row, #flixster-caption-row {
	line-height: 3.5;
}

#estes-nightscapes-container #estes-nightscapes-tooltip-text {
	bottom: 4%;
	left: 0;
}

#estes-nightscapes-container #estes-nightscapes-tooltip-text, #flixster-container #flixster-tooltip-text {
	color: white;
	font-size: 12px;
	opacity: 0.6;
	text-align: center;
	visibility: hidden;
	z-index: 1;
}

#estes-nightscapes-container:hover #estes-nightscapes-tooltip-text, #flixster-container:hover #flixster-tooltip-text {
	visibility: visible;
}

#experience-bullets-header, #experience-bullets-list, #footer-text, .responsive-text {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#flixster-caption-row {
	bottom: 0;
}

#flixster-container #flixster-tooltip-text {
	top: 26%;
	left: 0;
}

#footer-text {
	line-height: 6;
}

#full-body-container {
	border: 1px solid black;
}

.gray-text {
	color: #aaa;
}

@media (min-width: 768px) {
	#about-me-image {
		width: 48%!important;
	}

	#nav-links-row {
		line-height: 0.5!important;
	}
}

@media (min-width: 980px) {
	#about-me-image {
		width: 35%!important;
	}

	#about-me-inner-container, #contact-form-inner-container, #portfolio-inner-container {
		max-width: 70%;
	}

	#about-me-outer-container, #contact-form-outer-container, #portfolio-outer-container, #top-block-row {
		padding-left: 5%!important;
	}
}

#name-block-text {
	color: white;
}

.nav-link {
	color: #aaa;
}

#nav-links-col {
	margin-left: auto;
	margin-right: auto;
	max-width: 44%;
}

#nav-links-row {
	line-height: 1;
}

.responsive-font-size {
/* See https://websemantics.uk/tools/responsive-font-calculator/
	/* 8px @ 150px increasing to 24px @ 1920px */
	font-size: clamp(8px, calc(0.5rem + (24 - 8) * ((100vw - 240px) / (1920 - 240))), 24px);
	/* Safari resize fix */
	min-height: 0vw;
}

#rule-below-about-me-hr, #rule-below-contact-hr, #rule-below-portfolio-hr {
	border: 1px solid lightgrey;
	opacity: 0.75;
}
